@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}
.el-input{
  max-width:174px;
}

.el-pagination{
  text-align: center;
  margin-top: 20px;
}

// #editDetail .el-tabs--border-card{
//   position: absolute;
//   top: 20px;
//   left: 20px;
//   bottom: 20px;
//   right: 20px;
// }

#editDetail .el-input{
  max-width: 250px;
  width: 250px;
}
#editDetail .nomalInput .el-input{
  max-width: 140px;
  width: 140px;
}
.highlight{
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }

  .text-wrap .el-input{
    width: 100%;
    max-width: 100%;
  }
}
.buildInfo{
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 500px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    height: 400px;
    display: block;
  }
}
.redactBroker{
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}

.hosueTypeMap{
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
.el-button--text{
  padding:0;
}

.el-upload.el-upload--picture-card{
  width:148px;
  height:148px;
}
#edui1_iframeholder{
  min-height:45vh!important;
  iframe{
    height:100%;
  }
}

.el-pagination{
  margin-top: 20px;
}
.el-card:not(:first-child){
  margin-top: 20px;
}
.longInput .el-input{
  width:500px!important;
  max-width:550px!important;
}
.longInput{
  width:500px!important;
  max-width: 500px!important;
}
body .el-table th.gutter {
  display: table-cell !important;
}
.hosueTypePic{
  .el-checkbox+.el-checkbox {
      margin-left: 0;
  }
  .el-checkbox__input {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 5px;
  }
}

.hosueTypeMap{
  .el-checkbox+.el-checkbox {
      margin-left: 0;
  }
  .el-checkbox__input {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 5px;
  }
}
.manage-team .el-main{
  padding:0 20px!important;
}

.shortInput{
  width: 170px!important
}
