//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;


//sidebar
$menuBg: #304156; //每一列的颜色
$subMenuBg: #304156; //整条的背景色
$TextColor: #bfcbd9; //字体色  #1497CF

$menuHover: #1f2d3d; //悬浮高亮的颜色  #1497CF
$textHover: #bfcbd9;//悬浮的字体色

$menuActive: #1f2d3d; //激活的背景色
$activeText: #409EFF; //激活的字体色

$menuHeight: 45px; // 单列高度

//系统主题色
// $--color-primary: #199344;


